/******************************************************

                TABLE OF CONTENTS
    ------------------------------------------
        1. Project Details
        2. Global Variables and Styles
        3. Header, Navigation, and Toggle Checkbox Hack
        4. 
        5. 
        6. 
        7. 

*******************************************************/


/************************************************
1. Project Details

Project: Murofast Website, COMM672 Final Project
Authors: Group 5 -  Sebastian X. Munoz-Medina
                    Ernaldo Becerra
                    Kevin Hutchison

COLOR GUIDE
-----------


TYPOGRAPHY GUIDE
----------------


*************************************************/


/************************************************
2. Global Variables and Styles
*************************************************/
:root {
    
    /* typography */
    --headline-font: "Cairo", sans-serif;
    --primary-font: "Montserrat", sans-serif;
    --fw-b: 800;
    --fw-m: 500;
    --fw-l: 300;
    
    /* colors */
    --primary-color: #ff9f0e;
    --secondary-color: #e9e6dc;
    --neutral-lt-color: #e9e6dc;
}

html {
    font-size: 10px;
    font-family: var(--primary-font);
}

h1, h2 {
    font-family: var(--headline-font);
}

h1 {
    font-size: 3rem;
    font-weight: var(--fw-b);
}

h2 {
    font-size: 2rem;
    font-weight: var(--fw-m);
    margin: 1rem 0;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

img {
    margin-bottom: 1rem;
    border: solid 1px #000;
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    
}


/************************************************
3. Header, Navigation, and Toggle Checkbox Hack
*************************************************/

/**** header ****/
/* class selector type */
.menuBar {
    display: flex;
    align-items: center;
    gap: .5em;
}

/*descendant selector type*/
header h1 {
    color: var(--secondary-color);
    margin-right: auto;
    text-shadow: .5rem .5rem .6rem black;
}

/* element selector type */
header {
    background: url("../images/saw300.jpg") no-repeat bottom;
    background-size: cover;
    min-height: 100px;
    padding: 1.5em;
}

/****** navigation ******/
nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);     
}

nav ul {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}

nav ul li {
    border-bottom: solid 1px var(--neutral-lt-color);
}

nav ul a {
    display: block;
    padding: 1.2em 1.5em;
    color: var(--neutral-lt-color);
    text-decoration: none;
    letter-spacing: .05em;
    font-size: 1.6rem;}

nav ul a:hover {
    background-color: var(--primary-color);
    color: #2671bc;
}


/****** toggle nav w. checkbox hack and animation ******/
/* grouped sibling selector type */
.menuIcon, .menuIconClose {
    font-size: 2.6rem;
    color: var(--secondary-color);
}

.menuIconClose {
    display: none;
}

/* id selector type */
#checkbox {
    margin-left: auto;
    display: none;
}

/* input pseudo-class selctor*/
#checkbox:checked ~ nav ul {
    max-height: 290px;
    transition: all .5s;
}

#checkbox:checked ~ label .menuIcon {
    display: none;
}

#checkbox:checked ~ label .menuIconClose {
    display: block;
}

/* main section of homepage */
.pText {
    background-color: var(--secondary-color);
    padding: 20px 20px 10px;
    line-height: 2;
    margin-bottom: 10px;
}

.sideBar {
    background-color: var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgBlock {
    display: flex;
    flex-direction: column;
}

.photoCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 10px;
}

/* our employees page styling */
.backButton {
	font-size: 20px;
	color: red;
}
.employees p {
	text-align: center;
}
.employees {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article {
	margin-bottom: 2rem;
	border-bottom: solid 1px #ccc;
	padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

picture {
	display: grid;
	justify-items: center;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article:last-of-type {
	border-bottom: none;
}

figcaption {
	color: #adadad;
	font: italic 1.2rem var(--primary-font), sans-serif;
}

/* purchase order form page styling*/
form {
    display: flex;
    flex-direction: column;
}


fieldset {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    margin: 10px 0;
}

legend {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: #fff;
    padding: .15rem;
    border: 1px dashed var(--secondary-color);
}

.formControl {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
    color: gray;
    padding: .5rem 0;
    margin: .5rem 0;
    border: solid .25px #aaaaaa;
    border-radius: 5px;
    width: 98%;
    display: block;
}

.submit {
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    width: 275px;
    padding: .5em;
    margin-bottom: 4rem;
    border: 1px solid var(--secondary-color);
    border-radius: .5em;
    justify-self: center;
    align-self: center;
}

label {
    font-size: 1.6rem;
    padding-top: 16px;
}

/* radio buttons and check boxes*/
.radCheck {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.radCheck li {
    padding: 10px 0px;
}

.radCheck input {
    height: 14px;
    width: 14px;
}

/*faq css*/
#container {
    width: 70%; 
    margin:auto;
    background-color: #E9E6DC;
    padding: 30px;
} 

/* Question styles */
.question {
    padding: 10px;
    border-radius: 6px;
    background: white;
    transition: all 0.5s ease;
    margin-bottom: 15px;
    font-size: 14px;
}

/* user action pseudo-class selector */
.question:hover {
    background-color: #ff9f0e;
}

.question.open {
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.13);
}

.question .faqAnswer { 
    display: none; 
    padding: 20px 10px;
    line-height: 28px;
    color: rgba(0,0,0,0.6);
    font-size: 17px;
}

.question.open:hover {
    background: white;
}

.question h4 {
    border-radius: 6px;
    margin: 0px;
    padding: 10px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.question h4.open {
    border-radius: 6px;
    margin: 0px;
    color: white;
    background-color: #ff9f0e;
    cursor: pointer;
}

.question:hover h4 {
    color: white;
}

.faqImages {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
/*end faq style*/

/*products LP style*/
.products {
    background-color: var(--secondary-color);
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 20px;
   display: grid;
    grid-row-gap: 2px;
}

.prodLink {
  display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 70px;
    align-items: center;
    padding: 0 10px;
}

footer i {
    font-size: 2rem;
}

.storeAddress {
    display: none;
}




